@import "/app/styles/variables.scss";

.container {
  @include inner-wrapper;
  margin-top: 5rem;
  & > * {
    grid-column: span 12;
  }

  p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 0;
  }
}

.title {
  font-size: $unit * 6;
  margin-top: 0;
}

.wavingHand {
  animation-name: wave-animation;
  animation-duration: 2.75s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-7deg);
  }
  30% {
    transform: rotate(13deg);
  }
  40% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(11deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
