@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700;800;900&display=swap");

body {
  margin: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

section:not(:first-of-type) {
  width: 100%;
}
