@font-face {
  font-family: "SFPro";
  src: url("/fonts/SFPro.woff2") format("woff2");
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "SFPro";
  font-weight: bold;
}

section:not(:first-of-type) {
  width: 100%;
}
