@font-face {
  font-family: "SFPro";
  src: url("/fonts/SFPro.woff2") format("woff2");
}

body {
  margin: 0;
}

section:not(:first-of-type) {
  width: 100%;

  & > * {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 90%;
    margin: 5rem auto;
    max-width: 1200px;
  }
}
