$unit: 8px;
$dark: #1a1a1a;

@mixin accent-gradient {
  background: #12c2e9;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

@mixin inner-wrapper {
  width: 90%;
  margin: 0 auto 5rem;
  max-width: 1200px;
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, auto);
}
