@import "/app/styles/variables.scss";

.container {
  position: relative;
  width: 100%;
  background-color: $dark;
}

.linkedin {
  position: absolute;
  top: $unit * 2;
  left: $unit * 2;
  fill: #fff;
  z-index: 3;

  &:hover {
    fill: #fdc830;
  }
}

.hero {
  position: relative;
  height: 100vh;
  max-height: 900px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    background-position: center center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    text-align: center;
    z-index: 2;
  }

  &__title {
    @include accent-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    line-height: 1.1;
    font-family: "SFPro";
    font-weight: bold;

    @media (min-width: 768px) {
      font-size: 4rem;
    }
  }

  &__description {
    line-height: 1.5;
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 500;
    color: #fff;

    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
  }
}
