@import "/app/styles/variables.scss";

.container {
  @include inner-wrapper;
  display: flex;
  gap: $unit * 1.5;
  flex-wrap: wrap;
  margin-top: 0;
}

.skills {
  &__pill {
    display: inline-flex;
    align-items: center;
    white-space: break-spaces;
    white-space: nowrap;
    text-align: center;
    border-radius: 32px;
    padding: 0.5rem 1.5rem;
    background-color: $dark;

    &__label {
      font-family: "Roboto", sans-serif;
      letter-spacing: 0.5px;
      line-height: 1.2;
      font-size: 0.95rem;
      font-weight: bold;
      color: #eaeaea;
    }

    &:nth-child(2n-1) &__label {
      @include accent-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover {
      &__label {
        opacity: 1;
        cursor: default;
      }
    }

    @media (min-width: 768px) {
      white-space: nowrap;
    }
  }
}
